{% extends "_base.html" %}
{% block title %}Create - menus{% endblock %}

{% block content %}
<div class="ui center aligned basic very padded segment">
    <h1 class="ui header dividing">Add Options to lunch in {{menu.title}}</h1>

    <div class="ui container left aligned">
        {% for lunch in lunchs %}
        <div class="ui basic padded segment">
            <h4 class="ui header">
                option {{ forloop.counter }} / {{ lunchs|length }}: {{ lunch.prompt }}
            </h4>
            <ul>
                {% for option in lunch.option_set.all %}
                <li>
                    {{ forloop.counter }}) {{option.text}}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        <a href="{% url 'menu-lunch-create' menu.pk %}">
            <div class="ui button">Add a option</div>
        </a>
        {% if lunchs|length > 0 %}
        <div class="ui divider"></div>
        <form style="display: inline-block;" method="post">
            {% csrf_token %}
            <button type="submit" class="ui primary button">Activate menu</button>
        </form>
        <a href="{% url 'menu-list' %}">
            <div class="ui button">Back</div>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}