{% extends "_base.html" %}
{% block title %}List - menus{% endblock %}

{% block content %}
<div class="ui center aligned basic very padded segment">
    <h1 class="ui header">Welcome {{ request.user.username }}</h1>
    <a href="{% url 'menu-create' %}">
        <div class="ui primary button">Create a new menu</div>
    </a>
</div>
<div class="ui center aligned basic very padded segment">
    {% if menus %}
    <h2 class="ui header">Your menus</h2>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for menu in menus %}
            <tr>
                <td>{{ menu.title }}</td>
                <td>{{ menu.created_at }}</td>
                <td>
                    {% if menu.is_active %}
                    <a href="{% url 'menu-detail' menu.pk %}">
                        <div class="ui button">view</div>
                    </a>
                    {% else %}
                    <a href="{% url 'menu-edit' menu.pk %}">
                        <div class="ui button">edit</div>
                    </a>
                    {% endif %}
                    <form method="post" action="{% url 'menu-delete' menu.pk %}" style="display: inline-block;">
                        {% csrf_token %}
                        <button class=" ui button">delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h2 class="ui header">Your menus
        <div class="sub header">You don't have any menus yet, try creating one first.</div>
    </h2>
    {% endif %}

</div>
{% endblock %}